html {
  font-size: 62.5%; }
  @media screen and (max-width: 900px) {
    html {
      font-size: 56.5%; } }
  @media screen and (max-width: 600px) {
    html {
      font-size: 50.5%; } }

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Nunito', sans-serif;
  padding: 2rem 3rem;
  background-color: #f6f6f6; }
  body ::-moz-focus-inner {
    border: 0; }

.container {
  padding: 3rem 0 0 0;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  background: #833471;
  border-radius: 2rem;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.4); }
  .container .appName {
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 3rem; }
  .container .addTask {
    padding: 2rem 3rem; }
  .container .newTask {
    margin-bottom: 3rem;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600; }
  .container .form-1 {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .container .form-1 #taskInput {
      outline: none !important;
      border: none;
      background-color: #a1408b;
      padding: 0.7rem 1.2rem;
      color: #ccc;
      border-radius: 0.2rem;
      font-size: 1.3rem; }
      .container .form-1 #taskInput:focus {
        -webkit-appearance: none;
        border-bottom: 2px solid #ccc; }
      .container .form-1 #taskInput:placeholder-shown ~ #taskLabel {
        transform: translateY(-100%);
        padding: 0.6rem 1.2rem;
        color: #bbb;
        font-weight: 600; }
      .container .form-1 #taskInput:focus ~ #taskLabel {
        transform: translateY(-200%);
        padding: 0.6rem 0rem;
        color: #fff; }
    .container .form-1 #taskLabel {
      padding: 0.6rem 1.2rem;
      font-size: 1.2rem;
      color: #fff;
      transform: translateY(-200%);
      pointer-events: none;
      transition: all 0.25s linear; }
    .container .form-1 #taskSubmit {
      display: inline-block;
      align-self: flex-start;
      transform: translateY(-1rem);
      padding: 0.8rem 1rem;
      border: none;
      background-color: #B53471;
      color: #fff;
      width: 30%;
      border-radius: 0.3rem;
      transition: all 0.15s linear; }
      .container .form-1 #taskSubmit:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
        background-color: #dc3c87; }
      .container .form-1 #taskSubmit:active {
        transform: translateY(0.2rem);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0); }
  .container .displayTask {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: #f8f8f8;
    padding: 2rem 3rem; }
    .container .displayTask .displayHead {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .container .displayTask .displayHead .searchBox {
        display: flex;
        flex-direction: column; }
      .container .displayTask .displayHead #searchLabel {
        padding: 0.6rem 1.2rem;
        font-size: 1.3rem;
        color: #833471;
        transform: translateY(-100%);
        pointer-events: none;
        transition: all 0.25s linear; }
      .container .displayTask .displayHead #searchInput {
        width: 60%;
        outline: none !important;
        border: none;
        background-color: #ddd;
        padding: 0.7rem 1.2rem;
        color: #444;
        border-radius: 0.2rem;
        font-size: 1.3rem;
        transition: all 0.3s linear; }
        .container .displayTask .displayHead #searchInput:focus {
          -webkit-appearance: none;
          border-bottom: 2px solid #833471;
          width: 70%; }
        .container .displayTask .displayHead #searchInput:placeholder-shown ~ #searchLabel {
          transform: translateY(-100%);
          padding: 0.6rem 1.2rem;
          color: #555;
          font-weight: 600;
          font-size: 1.3rem; }
        .container .displayTask .displayHead #searchInput:focus ~ #searchLabel {
          transform: translateY(-200%);
          padding: 0.6rem 0rem; }
    .container .displayTask .taskList {
      margin-bottom: 2.5rem;
      font-size: 2.5rem;
      color: #833471;
      font-weight: 600;
      background-color: #f8f8f8; }
    .container .displayTask .taskHeading {
      transform: translateY(-0.5rem);
      font-size: 2rem;
      color: #666;
      margin-bottom: 2rem; }
    .container .displayTask .list {
      list-style: none; }
    .container .displayTask .list-item {
      font-size: 1.3rem;
      background: linear-gradient(to right, rgba(131, 52, 113, 0.8), rgba(181, 52, 113, 0.8));
      padding: 0.7rem 2rem;
      border-radius: 0.3rem;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s linear; }
      .container .displayTask .list-item:not(:last-child) {
        margin-bottom: 1rem; }
      .container .displayTask .list-item:hover {
        transform: scale(1.02); }
    .container .displayTask .item-link {
      text-decoration: none;
      color: #fff;
      transition: all 0.2s linear; }
      .container .displayTask .item-link:hover {
        color: black; }
    .container .displayTask .clearTasks {
      margin-top: 2rem;
      display: inline-block;
      align-self: flex-start;
      padding: 0.8rem 1rem;
      border: none;
      background-color: #833471;
      color: #fff;
      width: 30%;
      border-radius: 0.3rem;
      transition: all 0.15s linear; }
      .container .displayTask .clearTasks:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
        background-color: #a1408b; }
      .container .displayTask .clearTasks:active {
        transform: translateY(0.2rem);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0); }
